.content {
	font-family: 'Courier New', Courier, monospace;
	width: 75%;
	margin: auto;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 1%;
	padding-top: 1%;
	border: 1px solid #CCCCCC;
}

h1, h2, h3 {
	border-bottom: 1px solid #DDDDDD;
}

img {
	max-width: 75%;
}